section{
    margin: 50px;
}
.judul{
    text-align: center;
}
.foto{
    display: block;
    margin: auto;
}
p{
    text-align: justify;
}

h3{
    text-align: center;
    margin-top: 80px;
}

.linkVidio{
    margin-top: -13px;
}
.linkVidio a{
    color: black;
}

.linkVidio a:hover{
    color: blue;
}
h4{
    margin-top: 50px;
}
h4 a{
    color: black;
}
h4 a:hover{
    color: blue;
}